
 <header class="main-header header-style-one">
        
    	<!--Header-Upper-->
        <div class="header-upper">
        	<div class="auto-container">
            	<div class="clearfix">
                	
                	<div class="logo-outer">
                    	<div class="logo"><a href="{{ path('home') }}"><img src="{{ asset('assets/images/logo_btech.png') }}" alt="Radius" title="Radius"></a></div>
                    </div>
                    
                    <div class="upper-right clearfix">
                    	
                        <!--Info Box-->
                        <div class="info-box">
                        	<div class="icon-box"><span class="flaticon-telephone"></span></div>
                            <ul>
                            	<li><strong>+33 6 05 83 74 71</strong></li>
                                <li>info@btech-expert.com</li>
                            </ul>
                        </div>
                        
                        <!--Info Box-->
                        <div class="info-box">
                        	<div class="icon-box"><span class="flaticon-pin"></span></div>
                            <ul>
                            	<li><strong>15, RUE DES HALLES </strong></li>
                                <li>75001 PARIS</li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        
        <!--Header-Lower-->
        <div class="header-lower">
            
        	<div class="auto-container">
            	<div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="{{ path('home') }}">Home</a>
                                </li>
                                <li class="dropdown12"><a href="#">About Us</a>
                                	<!--<ul>
                                    	<li><a href="about-us.html">About Us</a></li>
                                    	<li><a href="team.html">Our Team</a></li>
                                        <li><a href="what-we-do.html">What We Do</a></li>
                                    </ul>-->
                                </li>
                                <li class="dropdown1"><a href="#">Our Programs</a>
                                	<!--<ul>Info Box
                                    	<li><a href="training.html">Our Programs</a></li>
                                        <li><a href="single-program.html">Training Coach</a></li>
                                        <li><a href="single-program.html">Sales Negotiation</a></li>
                                        <li><a href="single-program.html">Advisor Training</a></li>
                                        <li><a href="single-program.html">Consultative Selling</a></li>
                                        <li><a href="single-program.html">Sells Coaching</a></li>
                                        <li><a href="single-program.html">High Selling</a></li>
                                    </ul>-->
                                </li>
                                <li><a href="services.html">Services</a></li>
                                <li class="dropdown1"><a href="#">Pages</a>
                                    <!--<ul>Info Box
                                    	<li><a href="what-we-do.html">What We Do</a></li>
                                        <li><a href="project.html">Project</a></li>
                                        <li><a href="project-detail.html">Project Detail</a></li>
                                    </ul>-->
                                </li>
                                <li class="dropdown"><a href="#">Nouvelles</a>
                                    <ul>
                                        <li><a href="blog-list.html">Blog</a></li>
                                        <li><a href="blog-single.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ path('contact') }}">Contact</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                    
                    <!--Outer Button-->
                    <div class="outer-btn"><a href="{{ path('contact') }}" class="theme-btn consultation">Consultation Gratuite !</a></div>
                    
                </div>
            </div>
        </div>
        
        
        <!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            	<!--Logo-->
            	<div class="logo pull-left">
                	<a href="{{ path('home') }}" class="img-responsive"><img src="{{ asset('assets/images/logo_btech.png') }}" alt="Radius" title="Radius"></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                	<!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a href="{{ path('home') }}">Home</a></li>
                                <li class="dropdown2"><a href="#">About Us</a>
                                	<!--<ul>Info Box
                                    	<li><a href="about-us.html">About Us</a></li>
                                    	<li><a href="team.html">Our Team</a></li>
                                        <li><a href="what-we-do.html">What We Do</a></li>
                                    </ul>-->
                                </li>
                                <li class="dropdown1"><a href="#">Our Programs</a>
                                	<!--<ul>Info Box
                                    	<li><a href="training.html">Our Programs</a></li>
                                        <li><a href="single-program.html">Training Coach</a></li>
                                        <li><a href="single-program.html">Sales Negotiation</a></li>
                                        <li><a href="single-program.html">Advisor Training</a></li>
                                        <li><a href="single-program.html">Consultative Selling</a></li>
                                        <li><a href="single-program.html">Sells Coaching</a></li>
                                        <li><a href="single-program.html">High Selling</a></li>
                                    </ul>-->
                                </li>
                                <li><a href="services.html">Services</a></li>
                                <li class="dropdow1n"><a href="#">Pages</a>
                                    <!--<ul>Info Box
                                    	<li><a href="what-we-do.html">What We Do</a></li>
                                        <li><a href="project.html">Project</a></li>
                                        <li><a href="project-detail.html">Project Detail</a></li>
                                    </ul>-->
                                </li>
                                <li class="dropdown"><a href="#">Nouvelles</a>
                                    <ul>
                                        <li><a href="blog-list.html">Blog</a></li>
                                        <li><a href="blog-single.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ path('contact') }}">Contact</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div><!--End Sticky Header-->
    
    </header>